# dependencies
node_modules/

# build files
dist/

# environment variables
.env

# uploads
uploads/

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# coverage
coverage/

# temp
tmp/
temp/

# TypeScript
*.tsbuildinfo